---
import "../stylesheet/style.css"; 
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum optio nemo perferendis atque ullam doloribus soluta quis unde error odit dolore fugit esse alias consequuntur rem consequatur, cum possimus quas.</p>
		<h1>Astro</h1>
		<link rel="stylesheet" href="style.css"/>
		<main>
			<Card header="hej verden">
				<img src="/meme1.webp" alt="et meme"/>
			</Card>
			
		</main>
	</body>
</html>
